Lab PSI - C2

In [19]:
import numpy as np
import pandas as pd

size = (100, 2)
data = np.random.uniform(-10, 10.0, size)

df = pd.DataFrame(data=data, columns = ['x1', 'x2'])
df

          x1        x2
0  -6.927081 -6.430546
1   9.327971 -5.849510
2   3.452070 -4.834325
3  -3.973133  5.609679
4  -9.091527  2.917673
..       ...       ...
95 -6.093706 -5.666082
96 -5.112441 -6.480027
97  9.335447 -3.331808
98 -9.207642 -0.896307
99  6.843140  2.274639

[100 rows x 2 columns]

In [20]:
from booth import booth

df['eval'] = df.apply(lambda x: booth(x['x1'], x['x2']), axis = 1)

In [21]:
df

          x1        x2         eval
0  -6.927081 -6.430546  1356.922684
1   9.327971 -5.849510   148.756939
2   3.452070 -4.834325   183.263964
3  -3.973133  5.609679    53.886135
4  -9.091527  2.917673   515.874888
..       ...       ...          ...
95 -6.093706 -5.666082  1118.905343
96 -5.112441 -6.480027  1099.733059
97  9.335447 -3.331808   125.629743
98 -9.207642 -0.896307   915.062599
99  6.843140  2.274639   139.435084

[100 rows x 3 columns]

### Skalowanie liniowe

In [22]:
from linear_scaling import linear_scaling

linear = linear_scaling(df['eval'])
df['linearly scaled'] = linear

list = [17.2, 30.1, 9.7, 11.9, 21.2, 15.2]

test = np.array(list)

linear_scaling(test)

0.17627052777209878 291.33921859906224
0.6992031315375992 5.278983643108872

array([17.30527751, 26.3249979 , 12.06125402, 13.59950091, 20.10209003,
       15.90687124])

In [23]:
df

          x1        x2         eval  linearly scaled
0  -6.927081 -6.430546  1356.922684       530.524696
1   9.327971 -5.849510   148.756939       317.560683
2   3.452070 -4.834325   183.263964       323.643254
3  -3.973133  5.609679    53.886135       300.837756
4  -9.091527  2.917673   515.874888       382.272757
..       ...       ...          ...              ...
95 -6.093706 -5.666082  1118.905343       488.569254
96 -5.112441 -6.480027  1099.733059       485.189745
97  9.335447 -3.331808   125.629743       313.484040
98 -9.207642 -0.896307   915.062599       452.637786
99  6.843140  2.274639   139.435084       315.917514

[100 rows x 4 columns]

### Sprawdzenie poprawności implementacji - (C_zwiel = 1.5):
eval(linear)_max = C_zwiel * eval_mean

In [24]:
np.mean(df['eval']) * 1.5

530.5246967131676

In [25]:
np.max(df['linearly scaled'])

530.524696184356

### Rosenbrock

In [26]:
size = (100, 2)
data = np.random.uniform(-2.048, 2.048, size)

df = pd.DataFrame(data=data, columns = ['x1', 'x2'])
df

          x1        x2
0  -0.853639 -0.061047
1  -0.986242 -1.856068
2   0.866652  1.073168
3   1.068683 -1.241097
4   1.502536 -0.908710
..       ...       ...
95  0.962831 -1.432257
96 -1.047824  1.193094
97  1.847590  0.810922
98  1.084071 -1.661924
99  1.711736 -1.691121

[100 rows x 2 columns]

In [27]:
from rosenbrock import rosenbrock

df['eval'] = df.apply(lambda x: rosenbrock(x['x1'], x['x2']), axis = 1)

df

          x1        x2         eval
0  -0.853639 -0.061047    65.805914
1  -0.986242 -1.856068   804.122089
2   0.866652  1.073168    10.391494
3   1.068683 -1.241097   567.959545
4   1.502536 -0.908710  1002.813742
..       ...       ...          ...
95  0.962831 -1.432257   556.631189
96 -1.047824  1.193094     5.099111
97  1.847590  0.810922   678.105390
98  1.084071 -1.661924   804.940423
99  1.711736 -1.691121  2136.019118

[100 rows x 3 columns]